.input__field {
    font-size: 35px;
}
#login__component {
    display: flex;
    flex-direction: column;
    max-width: 320px;
    justify-content: center;
    button {
        cursor: pointer;
    }
}
